.options {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.optionBtn {
  padding: 15px 25px;
  border: transparent;
  outline: transparent;
  border-radius: 10px;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.optionBtn:hover {
  background-color: rgb(174, 174, 174);
}
.resetBtn {
  padding: 15px 25px;
  border: transparent;
  outline: transparent;
  border-radius: 10px;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgba(244, 136, 136, 0.669);
}

.resetBtn:hover {
  background-color: rgba(206, 84, 84, 0.869);
}